<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %p [%c] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>
  <appender name="logfile" class="ch.qos.logback.core.FileAppender">
    <File>target/info.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%d %p [%c] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>
  <appender name="debuglogfile" class="ch.qos.logback.core.FileAppender">
    <File>target/debug.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%d %p [%c] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="stdout"/>
    <appender-ref ref="logfile"/>
    <appender-ref ref="debuglogfile"/>
  </root>
</configuration>
